/* Set up the main styling for the form */
body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f3f3f3;
  background-size: cover;
}

header {
  background-color: blue;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav a {
  color: black;
  text-decoration: none;
}

h1,
h2 {
  color: #260c7b;
}

main {
  text-align: center;
}

#userForm {
  background-color: #aeaeef;
  padding: 20px;
  border-radius: 8px;
}

button {
  margin-top: 10px;
}

#output {
  margin-top: 15px;
  font-weight: bold;
}

.container img {
  width: 10%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  transition: all ease-in-out 0.5s;
}

.container img:hover {
  width: 25%;
}

.flex-around {
  display: flex;
  justify-content: end;
  align-items: center;
}
